<body>
	<div id="widget-container">
		<header>
			<h1>Backbone Aura Demo</h1>
		</header>
		<section id="todoapp"></section>
		<section id="calendarapp"></section>
		<section id="controlsapp" class="controls"></section>
		<footer id="info">
			<p>Backbone Aura 0.8 is a project by Addy Osmani and Dustin Boston</p>
		</footer>
	<div>
</body>